* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
/** navigation */
.nav {
    width: 100vw;
    height: 120px;
    background-color: #ffffff;
    box-shadow: 0px 1px 8px 0px #484848;
    margin: 0 auto;
    font-size: 14px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.nav_container {
    max-width: 1370px;
    margin: 0 auto;
}
.nav_gruop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nav_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.nav_logo a {
    font-size: 18px;
    font-weight: 600;
    color: #121112;
}
.nav_logo a > span {
    color: #84b840;
    font-weight: 400;
}
.nav_top-search {
    display: flex;
    align-items: center;
    height: 38px;
    border: 1px solid #3e3e3e32;
    border-radius: 5px;
}
.search_drop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: #dbd7d789;
    /* padding: 15px; */
    border-radius: 5px 0 0 5px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.search_drop:hover {
    background-color: #dbd7d7e1;
    cursor: pointer;
}
.search_drop p {
    padding: 0 5px;
}
.search_drop i {
    padding: 0 10px 0 10px;
    color: #333;
}
.nav_search-dropcontent {
    width: 300px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px 5px rgb(174, 171, 171);
    margin: 40px;
    position: absolute;
    top: 5px;
    left: -40px;
    display: none;
}
.nav_drop-show {
    display: block;
}
.nav_search-dropcontent p {
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
    color: #868181;
}
.menu_list {
    padding-left: 40px;
    list-style: none;
}
.menu_item {
    margin: 10px 0;
}
.menu_item a {
    color: #121112;
    font-weight: 600;
    line-height: 32px;
}
.menu_item a:hover {
    border-bottom: 2px solid black;
}
.nav_search-input {
    height: 38px;
    width: 497px;
    padding-left: 10px;
    border: 1px solid #3e3e3e32;
}
.search_glass {
    width: 38px;
    height: 38px;
    background-color: #303030dd;
    color: white;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    margin-left: -4px;
}
.search_glass:hover {
    background-color: #303030;
}
.nav_top-license a,
.nav_top-pricing a {
    color: #484848;
    display: inline-block;
    line-height: 32px;
    font-weight: 600;
    padding: 0 7px;
}
.nav_top-license a:hover,
.nav_top-pricing a:hover {
    background-color: #ececee;
    border-radius: 5px;
}
.nav_plus a {
    padding: 8px 30px;
    background-color: #e06262;
    color: white;
    line-height: 18px;
    font-weight: 600;
    border-radius: 5px;
}
.nav_plus:hover a {
    background-color: #ea1831d7;
}
.nav_signin a {
    display: flex;
    color: #484848;
    line-height: 32px;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}
.nav_signin a i {
    background-color: #303030dd;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    margin-right: 5px;
}

/** nav-bottom */
.nav_bottom {
    width: 100%;
    height: 60px;
}
.nav_bottom-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.nav_bottom-menu .item {
    padding: 15px 0;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
    color: #484848;
    height: 60px;
}
.nav_bottom-menu .item a {
    color: #484848;
}
.nav_bottom-menu .item:hover {
    border-bottom: 2.5px solid rgb(50, 140, 224);
}

/** main: phần chính của trang web */
/* phần tiêu đề */
.page_home {
    background-color: #fafafa;
    padding-top: 200px;
}
.title-category {
    max-width: 1370px;
    margin: 0 auto;
}
.invitation {
    text-align: center;
    /* margin-top: 80px; */
}
.invitation h1 {
    font-size: 48px;
    font-weight: 800;
    color: #404040;
    margin-bottom: 20px;
}
.invitation p {
    font-size: 18px;
    color: #505050;
    line-height: 27px;
}
/* phần danh sách các loại  */
.category_list {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    gap: 29px;
    justify-content: center;
}
.category_item {
    list-style: none;
}
.category_image {
    width: 248px;
    height: 166px;
    border-radius: 10px;
    object-fit: cover;
}
.category_item:hover .category_image {
    box-shadow: 0 0 10px 10px #e8e6e6;
}
.category_link-bottom {
    margin-top: 20px;
}
.category_link-bottom p {
    color: #383838;
    font-weight: 600;
}
.category_link-bottom span {
    color: #8070ff;
    font-size: 14px;
}
.category_button {
    text-align: center;
    margin-bottom: 160px;
}
.category_button a {
    padding: 10px 20px;
    background-color: #e06262;
    color: white;
    border-radius: 5px;
}
.category_button a:hover {
    background-color: #ea1831d7;
}

/** advice : lời khuyên nên chọn */
.advice {
    background-color: #ffffff;
}
.advice-container {
    max-width: 1370px;
    margin: 0 auto;
}
.advice-explain {
    display: flex;
    gap: 30px;
    padding: 100px;
}
h2 {
    text-align: center;
    padding-top: 80px;
}
.advice-card {
    width: calc(100% / 4);
}
.advice-card svg {
    width: 70px;
    height: 70px;
}
.advice-card h3 {
    font-weight: 600;
    color: #303030;
    margin: 15px 0;
}
.advice-card p {
    color: #7c7c7c;
    font-size: 14px;
}

/** pricing: giá cả  */
.pricing {
    max-width: 1370px;
    /* height: 700px; */
    margin: 0 auto;
    /* background-color: #303030; */
    margin-bottom: 200px;
}
.pricing-card {
    display: flex;
    list-style: none;
    gap: 30px;
    position: relative;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}
.pricing-item {
    width: calc((100% / 4) - 90px);
    width: 262;
    height: 307px;
    background-color: #ffffff;
    padding: 20px 20px 0 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #e3e1e1;
}
.pricing-item:hover {
    transform: translateY(-1px);
    box-shadow: 0px 0px 5px 0px #bdbbbb;
    transition: al 0.25s ease-in-out;
}
.pricing-link {
    display: flex;
    flex-direction: column;
    display: inline-block;
    justify-content: space-between;
}
.prcing-card-title {
    color: #303030;
    font-weight: 700;
}
.pricing-card-top p {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
    color: #7c7c7c;
}
.pricing-fz {
    font-size: 20px;
    color: #303030;
}
.pricing-card-bottom img {
    width: 170px;
    height: 100px;
    /* margin-top: auto; */
    position: absolute;
    bottom: -5px;
}
.pricing-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 40px 0 70px 0;
}
.pricng-learmore {
    padding: 10px 20px;
    border: 1px solid #333;
    color: #303030;
    font-size: 18px;
    border-radius: 5px;
}

/** dẫn chứng */
.quote {
    background-color: #ffffff;
}
.quote-container {
    max-width: 1370px;
    margin: 0 auto;
}
.poute-list {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 20px 100px 100px 100px;
}
.poute-item {
    width: calc(100% / 3);
    margin: 50px 0 80px 0;
    padding: 30px;
    box-shadow: 0px 0px 4px 0px #eee;
}
.poute-item svg {
    width: 40px;
    height: 40px;
    color: #8070ff;
    fill: #8070ff;
}
.poute-item p {
    margin: 20px 0;
    color: #727171;
    line-height: 28px;
}
.footer-poute {
    font-style: italic;
    color: #727171;
    font-size: 14px;
}
.footer-poute dl dt:first-child {
    color: #303030;
    font-weight: 600;
}

/** chứng nhận */
.certified {
    width: 1370px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 100px 130px;
    justify-content: space-between;
    /* background-color: pink; */
}
.certified-content {
    width: 470px;
    text-align: left;
}
.certified-content h2 {
    text-align: left;
    margin: 20px 0;
}
.certified-content p {
    font-size: 14px;
    color: #727171;
}
.certified-content a {
    margin-top: 50px;
    display: inline-block;
    color: blue;
    transition: 0.5s all cubic-bezier(1, 0, 0, 1);
    font-weight: 600;
}

.certified-content a:hover i {
    transform: translateX(5px);
}

.certifed-svg {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0px 0px 5px 0px #a9a9a9;
    border-radius: 10px;
}

/** dowload file  */
.dowfile {
    background-color: #ffffff;
}
.dowfile-container {
    max-width: 1370px;
    margin: 0 auto;
}
.dowfile-title {
    text-align: center;
    width: 600px;
    margin: 0 auto;
}
.dowfile-button {
    text-align: center;
    margin: 50px;
}
.dowfile-button a {
    padding: 10px 20px;
    background-color: #e06262;
    color: white;
    border-radius: 5px;
}
.dowfile-list {
    display: flex;
    align-items: stretch;
    gap: 30px;
    padding: 0 175px;
    list-style: none;
}
.dowfile-item {
    width: calc((100% / 3));
    width: 320px;
    height: 293px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #a9a9a9;
    margin-bottom: 35px;
}
.dowfile-item:hover {
    transform: translateY(-1px);
}
.dowfile-poster img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}
.dowfile-poster .dowfile-video {
    width: 100%;
    height: 214px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.dowfile-text {
    height: 80px;
    padding: 15px;
}
.dowfile-text p:first-child {
    font-size: 12px;
    color: #303030;
    font-weight: 600;
    -webkit-line-clamp: 1; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.dowfile-text p:last-child {
    font-size: 12px;
    color: #727171;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fowfile-icon {
    width: 20px;
    height: 20px;
    /* margin: 5px; */
    position: absolute;
    /* display: inline-block; */
    bottom: 10px;
    right: 40px;
    display: flex;
}
.fowfile-icon img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.dowfile-linktext {
    text-align: center;
    padding-bottom: 100px;
}
.dowfile-linktext a {
    color: #303030;
    /* border-bottom: 2px solid #333; */
    text-decoration-line: underline;
}
.dowfile-linktext a:hover {
    color: #8070ff;
}

/**subcribe-button  */
.sub-button {
    text-align: center;
    padding: 50px;
}
.sub-button a {
    padding: 10px 20px;
    background-color: #e06262;
    color: white;
    border-radius: 5px;
}

/** FOOTER: chân trang */
.footer-home {
    background-color: #282828;
}
.footer-container {
    max-width: 1370px;
    margin: 0 auto;
}
.footer-top {
    border-bottom: 1px solid #eee;
    display: flex;
}
.footer-top-col {
    margin-right: 100px;
}
.footer-top-col h3 {
    color: #7c7c7d;
    font-size: 12px;
    font-weight: 700;
    margin: 30px 0;
}
.footer-top-col a {
    color: white;
    font-size: 13px;
    font-weight: 700;
}
