* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
.nav {
    width: 100vw;
    height: 120px;
    background-color: #ffffff;
    box-shadow: 0px 1px 8px 0px #484848;
}
.nav-container {
    max-width: 1370px;
    margin: 0 auto;
}